In [1]:
import pandas as pd
train = pd.read_csv("data_files/listings.csv")

In [2]:
train.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,10291,Spacious Cottage in Mid-City!,31004,Jill,NaN,Navarre,29.98666,-90.10928,Entire home/apt,300,2,96,2/17/2019,0.99,1,331
1,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96257,-90.11877,Entire home/apt,100,1,432,3/3/2019,3.99,1,303
2,26834,Maison Mandeville in the Marigny,114452,Rachel,NaN,Marigny,29.96557,-90.05531,Entire home/apt,125,4,222,2/24/2019,2.10,2,23
3,53173,MARDI GRAS YA’LL HUNDREDS 5 STAR REVIEWS !!!,12154,Karen,NaN,St. Claude,29.96483,-90.03906,Private room,115,3,133,2/20/2019,1.32,2,354
4,53544,Historical Bywater Mother in Law Cottage,249527,Lee,NaN,Bywater,29.96697,-90.03068,Entire home/apt,50,5,180,1/25/2019,1.76,2,10

In [3]:
train.isnull().sum()

id                                   0
name                                 2
host_id                              0
host_name                            0
neighbourhood_group               6632
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                        613
reviews_per_month                  613
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [5]:
train = train.drop(columns=['host_name','name', 'id', 'host_id', 'neighbourhood_group', 'latitude', 'longitude', 'last_review', 'reviews_per_month'])

In [ ]:

train.head()

plot  = train.plot.bar('neighbourhood','price')

In [ ]:
plot