In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("listings.csv")

In [3]:
train.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,10291,Spacious Cottage in Mid-City!,31004,Jill,NaN,Navarre,29.98666,-90.10928,Entire home/apt,300,2,96,2/17/2019,0.99,1,331
1,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96257,-90.11877,Entire home/apt,100,1,432,3/3/2019,3.99,1,303
2,26834,Maison Mandeville in the Marigny,114452,Rachel,NaN,Marigny,29.96557,-90.05531,Entire home/apt,125,4,222,2/24/2019,2.10,2,23
3,53173,MARDI GRAS YA’LL HUNDREDS 5 STAR REVIEWS !!!,12154,Karen,NaN,St. Claude,29.96483,-90.03906,Private room,115,3,133,2/20/2019,1.32,2,354
4,53544,Historical Bywater Mother in Law Cottage,249527,Lee,NaN,Bywater,29.96697,-90.03068,Entire home/apt,50,5,180,1/25/2019,1.76,2,10

In [6]:
import geopy
from geopy import distance
from geopy.distance import vincenty

# lat = pd.to_numeric(train['latitude'])   
# lon= pd.to_numeric(train['longitude'])

In [ ]:

def distancer(row):
    start = (29.9585246,-90.0680352)
    stop = train['latitude'].all(), train['longitude'].all()
    return geopy.distance.VincentyDistance(start, stop).miles

train['dist_to_bourbon'] = train.apply(distancer, axis=1)

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  """

In [ ]:
start = (29.9585246,-90.0680352)
stop = (29.9585246,-90.09)
print(geopy.distance.VincentyDistance(start, stop).miles)

In [ ]:
train.head(500)

In [ ]:
train.isnull().sum()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
train = train.drop(columns=['host_name','name', 'id', 'host_id', 'neighbourhood_group', 'latitude', 'longitude', 'last_review', 'reviews_per_month'])

In [ ]:
train.head()

In [ ]:
df = train.dropna(how="any")
df.count()

In [ ]:
df = df.groupby(['neighbourhood']).mean()

In [ ]:
df.head()

In [ ]:

pd.to_numeric(df['price']).head()

In [ ]:
price_high = df.loc[(df['price']>=225)]
price_mid = df[(df['price']>150) & (df['price'] <225)]
price_low = df[(df['price']>=0) & (df['price'] <150)]
p_low = price_low.reset_index()
p_mid = price_mid.reset_index()
p_high = price_high.reset_index()

In [ ]:
price_high.max()

In [ ]:
def bar_chart(feature, index):
    fig, ax = plt.subplots()
    x_axis = np.arange(len(feature['price']))
    ax.bar(x_axis, feature['price'])
    labels =index['neighbourhood']
    ax.set_xticks(x_axis)
    ax.set_xticklabels(labels, rotation=50, ha="right")

In [ ]:
bar_chart(price_low, p_low)

In [ ]:
bar_chart(price_high, p_high)

In [ ]:
bar_chart(price_mid, p_mid)

In [ ]:
29.9585246,-90.0680352